@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;

    --card: 222 47% 13%;
    --card-foreground: 210 40% 98%;

    --popover: 222 47% 13%;
    --popover-foreground: 210 40% 98%;

    --primary: 243 75% 59%;
    --primary-foreground: 210 40% 98%;

    --secondary: 217 33% 20%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 33% 20%;
    --muted-foreground: 215 20% 65%;

    --accent: 217 33% 22%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 51%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 33% 22%;
    --input: 217 33% 22%;
    --ring: 243 75% 59%;

    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased selection:bg-primary/30 selection:text-white min-h-screen;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}
